<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>

    <div class="container">
        <h2>Add product</h2>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" name="title" placeholder="some title..." type="text" required>
            </div>
            <div class="form-group">
                <label for="title">Description</label>
                <input class="form-control" id="description" name="description" placeholder="some description..." type="text" required>
            </div>
            <div class="form-group">
                <label for="title">Price</label>
                <input class="form-control" id="price" name="price" placeholder="some price..." type="text" required>
            </div>
            <div class="form-group">
                <label for="title">Quantity</label>
                <input class="form-control" id="quantity" name="quantity" placeholder="quantity" type="text" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</head>
<body>

</body>
</html>